@model IEnumerable<ItransitionProject.Models.Overview>
@{
    ViewData["Title"] = "Home Page";
}
<style>
  .tags {
  padding: 50px;
  width: -moz-fit-content;
  border: 4px black;
  border-width:thin;
  border-style:solid;
  border-color:#adadad;
  border-radius:7px;
  color: white;
  box-shadow: 0 0 5px #dbdbdb;
  font-family: Arial;
  font-size: 17px;
  font-weight: 300;
  line-height: 40px;
}

.tags a {
  white-space: nowrap;
  width: auto;
  border-radius: 13px;
  background-color: #334fff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #ffffff;
}
</style>

 <div class="tags">
    @foreach(var item in ViewBag.Tags)
    {
	    <a href="#">@item</a>
    } 
</div>

<form>
    <br></br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var item in Model)
        {
             <div class="col">
                <div class="card h-100" >
                    <img src="@Url.Content(@item.ImageUrl)" class="card-img-top"/>
                    <div class="card-body">
                        <div class="card-card-title">
                            <h5>@item.Title</h5>
                        </div>
                        <div class="card-text" >
                            <p class="size">@item.TextOverview</p>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <button name="id" class="btn btn-primary" value="@item.Idoverview" asp-action="ViewOverview" >Подробнее...</button>
                            
                        }
                        <div class="card-text" >
                            <p class="size"><font color="grey">Время добавления: @item.DateOverview.ToString("dd/MM HH:mm")</font></p>
                        </div>
                    </div>
                </div>
            </div>   
        }
        
    </div>
</form>





